.gift-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 40px;
  background-color: #D8BF95;
}
.gift-box .gift-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
}

.header-links {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  height: 88px;
  padding: 0 30px;
}
.header-links a {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  transition: transform 0.5s ease;
}
.header-links a:hover {
  transform: scale(1.3);
}
.header-links .main-name {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-content: center;
}
.header-links .main-name > img {
  padding: 5px;
  width: 100%;
  height: 100%;
}
.header-links .languages {
  display: inline-flex;
  align-items: flex-end;
}
.header-links .languages a {
  transition: transform 0.5s ease;
}
.header-links .languages a:hover {
  transform: scale(1.3);
}
.header-links .languages a:first-child {
  color: #828282;
}
.header-links .languages a:last-child {
  color: black;
}
.header-links .languages p:nth-child(2)::after {
  content: "";
  display: block;
  border-right: 1px solid black;
  height: 20px;
  margin: 0 5px;
}

.header-photos {
  display: flex;
  justify-content: space-around;
  height: 630px;
}
.header-photos .header-photo {
  display: flex;
  background-image: url("../media/header_photo2.png");
  width: 485px;
  height: 630px;
  background-size: cover;
  background-repeat: no-repeat;
}
.header-photos .header-photo > p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: capitalize;
  color: #FFFFFF;
  padding-top: 590px;
  padding-left: 30px;
}
.header-photos .header-photo1 {
  background-image: url("../media/header_photo1.png");
  width: 485px;
  height: 630px;
  background-size: cover;
  background-repeat: no-repeat;
}
.header-photos .header-photo2 {
  background-image: url("../media/header_photo.png");
  width: 485px;
  height: 630px;
  background-size: cover;
  background-repeat: no-repeat;
}
.header-photos .header-photo2 > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header-photos .header-photo2 > div > p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: capitalize;
  color: #FFFFFF;
  padding-top: 590px;
  padding-left: 30px;
}
.header-photos .header-photo2 > div > p + p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: capitalize;
  color: black;
  padding-top: 500px;
  padding-left: 30px;
  padding-right: 68px;
}

.header-text {
  display: flex;
  justify-content: space-between;
  padding: 125px 50px;
}
.header-text > p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #000000;
}
.header-text .main-text {
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 64px;
  color: #000000;
  max-width: 780px;
}
.header-text .additional-main-text {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #000000;
  padding-top: 30px;
}

.shirts {
  display: flex;
}
.shirts .shirt {
  width: 50%;
  height: 936px;
  background-image: url("../media/womantshirt.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.shirts .shirt1 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-between;
  width: 50%;
  height: 936px;
  background-image: url("../media/tshirt.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.shirts .shirt1 .shirt-name {
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 60px;
  color: #000000;
  padding: 50px;
}
.shirts .shirt1 .shirt-descr {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  padding: 50px;
}

.browse-categories {
  display: flex;
  flex-direction: column;
  margin: 50px;
}
.browse-categories h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
  padding-bottom: 20px;
}
.browse-categories .gallery {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  flex-direction: row;
}
.browse-categories .gallery .gallery-img1 {
  background-image: url("../media/gallery-photo1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: red;
  width: 32%;
  height: 609px;
}
.browse-categories .gallery .gallery-img1 > p {
  color: white;
  padding-top: 570px;
  padding-left: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 33px;
  line-height: 42px;
  text-transform: capitalize;
}
.browse-categories .gallery .gallery-img2 {
  background-image: url("../media/gallery-photo2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 32%;
  height: 609px;
}
.browse-categories .gallery .gallery-img3 {
  background-image: url("../media/gallery-photo3.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 32%;
  height: 609px;
}
.browse-categories .gallery .gallery-img3 > p {
  color: white;
  padding-top: 570px;
  padding-left: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 33px;
  line-height: 42px;
  text-transform: capitalize;
}

.books {
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  align-content: flex-start;
  justify-content: space-between;
}
.books .book1 {
  background-image: url("../media/book1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 936px;
  width: 50%;
}
.books .book2 {
  background-image: url("../media/book2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 936px;
  width: 50%;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
}
.cards > p {
  font-style: normal;
  font-weight: 400;
  font-size: 43px;
  line-height: 60px;
  color: #000000;
  width: 43%;
}
.cards .card-box {
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.cards .card-box .card {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
.cards .card-box .card > img {
  width: 233px;
  height: 233px;
  padding: 50px;
  align-self: center;
}
.cards .card-box .card > h3 {
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 45px;
  color: #000000;
}
.cards .card-box .card > p {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
  padding-top: 30px;
  max-width: 330px;
}

.product_photo {
  display: flex;
}
.product_photo .product1 {
  width: 50%;
  height: 936px;
  background-image: url("../media/product1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.product_photo .product1 > p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  padding: 50px;
}
.product_photo .product2 {
  width: 50%;
  height: 936px;
  background-image: url("../media/product2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-between;
}
.product_photo .product2 > p {
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 60px;
  color: #000000;
  padding: 50px;
  max-width: 500px;
}
.product_photo .product2 > p + p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
}

.newsletter {
  background-image: url("../media/letter_background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 550px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.newsletter .top-box {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 70px 50px;
}
.newsletter .top-box > p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #FFFFFF;
}
.newsletter .botton-box {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  padding: 50px 50px 10px 50px;
}
.newsletter .botton-box > p {
  font-style: normal;
  font-weight: 400;
  font-size: 46px;
  line-height: 60px;
  color: #FFFFFF;
  max-width: 300px;
}
.newsletter .botton-box > p + p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  max-width: none;
  padding-top: 30px;
}
.newsletter .botton-box form > input {
  background-color: transparent;
  color: white;
  outline: none;
  border: none;
  height: 30px;
  width: 350px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 21px;
  line-height: 29px;
  border-bottom: 1px solid #FFFFFF;
}

footer {
  padding: 70px 50px 0 50px;
  display: flex;
}
footer .left-side-box {
  width: 50vw;
}
footer .left-side-box h3 {
  padding-bottom: 20px;
}
footer .left-side-box .links-box {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: flex-end;
  padding-bottom: 150px;
}
footer .left-side-box .links-box .links-left-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
footer .left-side-box .links-box .links-left-box a {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  padding-top: 10px;
  transition: transform 0.5s ease;
}
footer .left-side-box .links-box .links-left-box a:hover {
  transform: scale(1.3);
}
footer .left-side-box .links-box .links-right-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
footer .left-side-box .links-box .links-right-box a {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  padding-top: 10px;
  padding-left: 150px;
  transition: transform 0.5s ease;
}
footer .left-side-box .links-box .links-right-box a:hover {
  transform: scale(1.3);
}
footer .left-side-box .social {
  display: flex;
}
footer .left-side-box .social .social-box {
  width: 40px;
  height: 40px;
  background-color: #E5E5E5;
  cursor: pointer;
  margin-right: 10px;
}
footer .right-side-box {
  width: 50vw;
}
footer .right-side-box h3 {
  padding-bottom: 20px;
}
footer .right-side-box .links-box {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  padding-right: 100px;
}
footer .right-side-box .links-box .first-links-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
footer .right-side-box .links-box .first-links-box a {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  padding-top: 10px;
  transition: transform 0.5s ease;
}
footer .right-side-box .links-box .first-links-box a:hover {
  transform: scale(1.3);
}
footer .right-side-box .links-box .second-links-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
footer .right-side-box .links-box .second-links-box a {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  padding-top: 10px;
  transition: transform 0.5s ease;
}
footer .right-side-box .links-box .second-links-box a:hover {
  transform: scale(1.3);
}
footer .right-side-box .links-box .third-links-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
footer .right-side-box .links-box .third-links-box a {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  padding-top: 10px;
  transition: transform 0.5s ease;
}
footer .right-side-box .links-box .third-links-box a:hover {
  transform: scale(1.3);
}
footer .signature {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
footer .signature > p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #9B9B9B;
  padding-top: 150px;
}
footer .signature p + p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: right;
  color: #9B9B9B;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Roboto";
}

/*# sourceMappingURL=style.css.map */
